[submodule "LibAcousticSensing/Tizen/LibAS"]
	path = LibAcousticSensing/Tizen/LibAS
	url = git@github.com:yctung/LibAcousticSensingTizen.git
[submodule "DevApp/Tizen/Phone/libas"]
	path = DevApp/Tizen/Phone/libas
	url = git@github.com:yctung/LibAcousticSensingTizen.git
[submodule "DevApp/Tizen/Wearable/libas"]
	path = DevApp/Tizen/Wearable/libas
	url = git@github.com:yctung/LibAcousticSensingTizen.git
